{:objects
    {:User
        {:description "A Service Consumer."
         :fields
             {:user_id
                 {:type (non-null Int)}
              :name
                 {:type (non-null String)}
              :password
                 {:type String}
              :vendors
                 {:type (list :Vendor)
                  :description "a list of vendors who have served this user."
                  :resolve :User/vendors}
              :ratings
                 {:type (list :VendorRating)
                  :descripton "List of vendor ratings provided by this user."
                  :resolve :User/vendor-ratings}}}
     :Vendor
        {:description "A Service provider."
         :fields
            {:vendor_id
                {:type (non-null Int)}
             :name
                {:type (non-null String)}
             :summary
                {:type String
                 :description "Short form description of this vendor"}
             :users
                {:type (list :User)
                 :description "a list of users who have been served by a vendor."
                 :resolve :Vendor/users}
             :ratings
                {:type (list :VendorRating)
                 :description "List of ratings that have been submitted for this vendor."
                 :resolve :Vendor/vendor-ratings}
             :rating_summary
                {:type (non-null :VendorRatingSummary)
                 :resolve :Vendor/rating-summary}}}

     :VendorRatingSummary
        {:description "Summary of ratings for a vendor."
         :fields
            {:count
                {:type (non-null Int)
                 :description "Number of ratings provided for this vendor.  Ratings are 1 to 5 stars."}
             :average
                {:type (non-null Float)
                 :description "The average value of all ratings, or 0 if never rated."}}}

     :VendorRating
        {:description "A user's rating of a particular vendor."
         :fields
            {:vendor
                {:type (non-null :Vendor)
                 :description "The Vendor that has been rated by the user."
                 :resolve :VendorRating/vendor}
             :rating {:type (non-null Int)
                      :description "The rating as 1 to 5 stars."}}}}



 :queries
    {:user_by_id
        {:type :User
         :description "Get a user and their favorite vendors."
         :args
            {:id {:type Int}}
         :resolve :query/user-by-id}

     :vendor_by_id
        {:type :Vendor
         :description "Get a vendor and their list of users."
         :args
            {:id {:type Int}}
         :resolve :query/vendor-by-id}}

 :mutations
    {:rate_vendor
        {:type :Vendor
         :description "Establishes a rating of a vendor by a user.
         On success (ie: the user and vendor both exist), selects
         the vendor.  Otherwise selects nil and an error"
         :args
            {:vendor_id {:type (non-null Int)}
             :user_id {:type (non-null Int)}
             :rating
                {:type (non-null Int)
                 :description "Vendor rating as a number between 1 and 5."}}
         :resolve :mutation/rate-vendor}}}



