{:objects
    {:Customer
        {:description "A Service Consumer."
         :fields
             {:cust_id {:type (non-null Int)}
              :name_first {:type String}
              :name_last {:type String}
              :email {:type (non-null String)}
              :addr_str_num {:type String}
              :addr_str_name {:type String}
              :addr_city {:type String}
              :addr_state {:type String}
              :addr_postal {:type String}
              :phone {:type String}
              :locale {:type String}
              :vendors {:type (list :Vendor)
                        :description "a list of vendors who have served this customer."
                        :resolve :Customer/vendors}
              :ratings
                 {:type (list :VendorRating)
                  :descripton "List of vendor ratings provided by this customer."
                  :resolve :Customer/vendor-ratings}}}
     :Vendor
        {:description "A Service provider."
         :fields
            {:vendor_id {:type (non-null Int)}
             :name_first {:type String}
             :name_last {:type String}
             :email {:type (non-null String)}
             :addr_str_num {:type String}
             :addr_str_name {:type String}
             :addr_city {:type String}
             :addr_state {:type String}
             :addr_postal {:type String}
             :profile_pic {:type String}
             :phone {:type String}
             :locale {:type String}

             :summary {:type String
                       :description "Short form description of this vendor"}
             :customers {:type (list :Customer)
                         :description "a list of customers who have been served by a vendor."
                         :resolve :Vendor/customers}
	     :services {:type (list :Service)
	                :resolve :Vendor/services}
             :ratings {:type (list :VendorRating)
                       :description "List of ratings that have been submitted for this vendor."
                       :resolve :Vendor/vendor-ratings}
             :rating_summary {:type (non-null :VendorRatingSummary)
                              :resolve :Vendor/rating-summary}}}
     :Service
       {:description "A service offered by a vendor."
        :fields
	  {:vendor_id     {:type (non-null Int)}
	   :s_name        {:type String}
	   :s_description {:type String}
	   :s_type        {:type String}
	   :s_price       {:type Int}
	   :s_duration    {:type Int}}}

     :VendorRatingSummary
        {:description "Summary of ratings for a vendor."
         :fields
            {:count
                {:type (non-null Int)
                 :description "Number of ratings provided for this vendor.  Ratings are 1 to 5 stars."}
             :average
                {:type (non-null Float)
                 :description "The average value of all ratings, or 0 if never rated."}}}

     :VendorRating
        {:description "A customer's rating of a particular vendor."
         :fields
            {:vendor
                {:type (non-null :Vendor)
                 :description "The Vendor that has been rated by the customer."
                 :resolve :VendorRating/vendor}
             :rating {:type (non-null Int)
                      :description "The rating as 1 to 5 stars."}}}}


 :input-objects
    {:InputCreateCustomer
       {:description "Required fields to create a new customer."
        :fields
           {:email {:type (non-null String)}}}

     :InputUpdateCustomer
       {:description "Fields you might want to update on the customer object.  Only the cust_id is required."
        :fields
           {:cust_id {:type (non-null Int)} ;; this is the only non-null field - you will always have to provide this
            :name_first {:type String}
            :name_last {:type String}
            :email {:type String}
            :password {:type String}
            :addr_str_num {:type String}
            :addr_str_name {:type String}
            :addr_city {:type String}
            :addr_state {:type String}
            :addr_postal {:type String}
            :phone {:type String}
            :locale {:type String}}}
      :InputCreateVendor
       {:description "Required fields to create a new vendor."
        :fields
           {:email {:type (non-null String)}}}

     :InputUpdateVendor
       {:description "Fields you might want to update on the vendor object.  Only the vendor_id is required."
        :fields
           {:vendor_id {:type (non-null Int)} ;; this is the only non-null field - you will always have to provide this
            :name_first {:type String}
            :name_last {:type String}
            :email {:type String}
            :password {:type String}
            :addr_str_num {:type String}
            :addr_str_name {:type String}
            :addr_city {:type String}
            :addr_state {:type String}
            :addr_postal {:type String}
            :phone {:type String}
            :locale {:type String}
            :summary {:type String}}}}

 :queries
    {:customer_by_email
        {:type :Customer
         :description "Get a customer and their favorite vendors."
         :args
            {:email {:type String}}
         :resolve :query/customer-by-email}

     :vendor_by_email
        {:type :Vendor
         :description "Get a vendor and their list of customers."
         :args
            {:email {:type String}}
         :resolve :query/vendor-by-email}

     :vendor_by_id
     			{:type :Vendor
         :description "Get a vendor and their list of customers."
         :args
            {:vendor_id {:type Int}}
         :resolve :query/vendor-by-id}

     :vendor_list
        {:type (list :Vendor)
         :description "A list of vendors available in a city."
         :args
           {:addr_city {:type (non-null String)}
            :service {:type String}}
         :resolve :query/vendor-list}}

 :mutations
    {:rate_vendor
        {:type :Vendor
         :description "Establishes a rating of a vendor by a customer.
         On success (ie: the customer and vendor both exist), selects
         the vendor.  Otherwise selects nil and an error"
         :args
            {:vendor_id {:type (non-null Int)}
             :cust_id {:type (non-null Int)}
             :rating
                {:type (non-null Int)
                 :description "Vendor rating as a number between 1 and 5."}}
         :resolve :mutation/rate-vendor}

     :create_customer
        {:type :Customer
         :description "This mutation creates a new customer in the system.
         The only parameter to be provided is the email address."
         :args
             {:new_cust {:type (non-null :InputCreateCustomer)}}
         :resolve :mutation/create-customer}

     :update_customer
        {:type :Customer
         :description "This mutation updates an existing customer in the system."
         :args
           {:upd_cust {:type (non-null :InputUpdateCustomer)}}
         :resolve :mutation/update-customer}

     :create_vendor
        {:type :Vendor
         :description "This mutation creates a new vendor in the system.
         The only parameter to be provided is the email address."
         :args
           {:new_vendor {:type (non-null :InputCreateVendor)}}
         :resolve :mutation/create-vendor}

     :update_vendor
        {:type :Vendor
         :description "This mutation updates an existing vendor in the system."
         :args
           {:upd_vendor {:type (non-null :InputUpdateVendor)}}
         :resolve :mutation/update-vendor}}}



