{:users [ {:id "1234"
           :name "Billy Bob"
           :password "password"
           :vendors #{"200"}}

         {:id "156"
          :name "Sam Smith"
          :password "xyz@123.com"
          :vendors #{"201"}}

         {:id "534345"
          :name "Santa Claus"
          :password "poopypants"
          :vendors #{"200" "201" "202" "203"}}]

 :vendors [ {:id "200"
             :name "Larry"
             :url "www.google.com"}

           {:id "201"
            :name "Jack"
            :url "www.imawesome.com"}

           {:id "202"
            :name "Chrissy"
            :url "www.biggerandbetter.com"}

           {:id "203"
            :name "Super Vendor"
            :url "www.supervendor.com"}]}